.contact-page {
  padding: 80px 0;
  background: #ffffff;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
  max-width: 1200px;
  margin: auto;
}

/* LEFT */
.contact-left {
  width: 55%;
}

.contact-title {
  font-size: 34px;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 260px;
  padding: 20px;
  border: 1px solid #f0e9ff;
  resize: none;
  font-size: 15px;
  margin-bottom: 30px;
  outline: none;
}

.input-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-row input {
  width: 50%;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #f0e9ff;
  font-size: 14px;
}

.subject-input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #f0e9ff;
  margin-bottom: 30px;
}

.send-btn {
  padding: 14px 40px;
  border: 1px solid #9f78ff;
  background: #9f78ff;
  color: #fff;
  letter-spacing: 4px;
  cursor: pointer;
}

/* RIGHT */
.contact-right {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info-box {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.info-box i {
  font-size: 32px;
  color: gray;
}

.info-box h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.info-box p {
  font-size: 14px;
  color: gray;
}