/* Home.css */

.hero-section {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1f1f1f;
  max-width: 600px;
  z-index: 10;
  text-align: center;
}

.hero-content h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 120px;
  color: #fff;
  margin-bottom: 39px;
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
}

.hero-btn {
  position: relative;
  background: #9F78FF;
  text-transform: capitalize;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  border: 0;
  overflow: hidden;
  border-radius: 4px;
  z-index: 1;
}

.hero-btn span {
  position: relative;
  z-index: 2;
}

.hero-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #8c6ae4;
  z-index: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.hero-btn:hover::before {
  transform: scaleX(1);
}

/* === Category Section === */
.hover-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 40px 20px;
}

.hover-card {
  position: relative;
  overflow: hidden;
  /* border-radius: 10px; */
  height: 400px;
  cursor: pointer;
}

.hover-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.hover-card:hover img {
  transform: scale(1.05);
}

.shop-now {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #9F78FF;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease;
  z-index: 2;
}

.hover-card:hover .shop-now {
  top: 40%;
  opacity: 1;
}

.shop-now::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #8c6ae4;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  z-index: -1;
}

.shop-now:hover::before {
  transform: scaleX(1);
}

.shop-now:hover {
  color: #fff;
}

.label {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  background: rgba(29, 37, 71, 0.5);
  backdrop-filter: transpare;
  color: #fff;
  padding: 12px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 2;
}

.hover-card:hover .label {
  bottom: 0;
  opacity: 1;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes smoothFadeUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hover-card {
  opacity: 0;
  transform: translateY(20px);
  animation: smoothFadeUp 0.7s ease-out forwards;
}

/* NEW ARRIVAL SECTION */
.new-arrival-section {
  text-align: center;
  padding: 60px 20px;
  animation: fadeInUp 1s ease forwards;
  opacity: 0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.section-title h2 {
  font-size: 60px;
  color: #140C40;
  font-weight: 700;
  margin-bottom: 50px;
  line-height: 1.2;
  animation: riseUp 0.8s ease forwards;
  opacity: 0;
  transform: translateY(30px);
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  text-align: center;
}

.arrival-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0 20px;
}

.arrival-card {
  background: #fff;
  padding: 15px;
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); */
  transition: transform 0.3s ease;
  animation: fadeInUp 0.8s ease forwards;
  opacity: 0;
  animation-fill-mode: forwards;
}

.arrival-card:hover {
  transform: translateY(-10px);
}

.arrival-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.bottom-card {
  border: 1px solid #F6F8FE;
  padding: 31px 0;
  transition: .3s;
}

.bottom-card:hover {
  scale: 2px;
}

.bottom-card h3 a {
  position: relative;
  display: inline-block;
  color: #111;
  text-decoration: none;
  font-weight: 600;
}

.bottom-card h3 a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #140C40;
  transition: width 0.3s ease;
}

.bottom-card h3 a:hover::after {
  width: 100%;
}


.stars {
  color: #FBBA42;
  font-size: 30px;
  margin: 6px 0;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.browse-btn-wrapper {
  text-align: center;
  margin-top: 50px;
  animation: fadeInUp 1s ease-in-out forwards;
}

.browse-btn {
  position: relative;
  display: inline-block;
  padding: 14px 45px;
  font-size: 18px;
  font-weight: 500;
  color: #140C40;
  text-decoration: none;
  background: transparent;
  border: 1px solid #140C40;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  overflow: hidden;
  z-index: 1;
}

.browse-btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #9F78FF;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
}

.browse-btn:hover::before {
  transform: scaleY(1);
}

.browse-btn:hover {
  color: #fff;
  border-color: #9F78FF;
}

/* banner section */
.banner-section {
  padding: 0 20px;
  margin-top: 60px;
}

.banner-wrapper {
  position: relative;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(0.7);
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  animation: fadeIn 1.2s ease-in-out;
}

.banner-content h2 {
  color: #fff;
  font-size: 70px;
  font-family: "Cinzel";
  text-transform: uppercase;
  margin-bottom: 21px;
  line-height: 1.2;
  visibility: visible;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-name: fadeInUp;
}

.banner-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.banner-btn {
  position: relative;
  background: #9F78FF;
  text-transform: capitalize;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  border: 0;
  overflow: hidden;
  border-radius: 4px;
  z-index: 1;
}

.banner-btn span {
  position: relative;
  z-index: 2;
}

.banner-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #8c6ae4;
  z-index: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.banner-btn:hover::before {
  transform: scaleX(1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes riseUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Content Banner Section */

.content-banner-section {
  padding: 60px 0;
  width: 100%;
}

.content-banner-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.content-banner-card {
  position: relative;
  overflow: hidden;
  height: 450px;
}

.content-banner-card img {
  width: 100%;
  height: 100%;
  max-height: 800px;
  object-fit: cover;
  transform: scale(1);
  transition: all .5s ease-out 0s;
}

.content-banner-card:hover img {
  transform: scale(1.05);
}

.content-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  transition: background 0.3s ease;
  border-radius: 0 0 12px 12px;
}

.content-overlay p {
  color: #fff;
  font-weight: 400;
  display: block;
  line-height: 44px;
  margin-bottom: 25px;
}

.content-overlay a {
  text-decoration: none;
  color: #fff;
  outline: medium none;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 15px;
}

.content-btn {
  position: relative;
  background: #9F78FF;
  color: #fff;
  width: 200px;
  text-transform: capitalize;
  text-align: center;
  padding: 5px 5px;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: none;
  transition: color 0.4s ease;
}
.content-btn span {
  position: relative;
  z-index: 2;
  font-size: 18px;
}

.content-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #8c6ae4;
  z-index: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.content-btn:hover::before {
  transform: scaleX(1);
}

.content-btn:hover {
  color: white;
}

/* servvices cards */
