.auth-container {
    width: 100%;
    height: 100vh;
    background: #f8f8fd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-box {
    width: 450px;
    background: #fff;
    padding: 40px 35px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.auth-box h2 {
    font-size: 28px;
    color: #3d3d3d;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.auth-box form input {
    width: 100%;
    margin-bottom: 18px;
    padding: 12px 15px;
    border: 1px solid #e8e8e8;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.2s;
}

.auth-box form input:focus {
    outline: none;
    border-color: #9F78FF !important;
}

.auth-btn {
    width: 100%;
    padding: 12px;
    background: #9F78FF;
    border: none;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.auth-btn:hover {
    background: #7e5fe8;
}

.auth-text {
    margin-top: 15px;
    text-align: center;
    color: #666;
}

.auth-text a {
    color: #9F78FF;
    text-decoration: none;
}