.footer {
    background: #1b2240;
    padding: 80px 50px;
    color: #d0d3e8;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;
}

.footer-logo {
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.footer-col p1 {
    color: #C2C5DB;
    font-size: 14px;
    padding-right: 52px;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.8;
}

.footer h2 {
    font-size: 28px !important;
    font-weight: 700;
    color: #fff  !important;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-col ul li:hover {
    color: #ffffff;
    padding-left: 5px;
}

.footer-social {
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.footer-social span {
    border: 1px solid #d0d3e8;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.footer-social span:hover {
    background: rgb(176, 170, 244);
    color: #1b2240;
}

.footer-copy {
    text-align: center;
    color: #c8cae0;
    font-size: 14px;
    margin-top: 20px;
}