/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4%;
    background-color: #fff;
    z-index: 9999;
}

/* Logo */
.logo img {
    height: 20px;
    padding-left: 20px;
}

/* Search bar */
.search-bar input {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 25px;
    outline: none;
    width: 200px;
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0 2rem;
    position: relative;
}

.nav-links li a {
    color: #1D2547;
    font-weight: 500;
    padding: 20px 15px;
    display: block;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
}

.nav-links li a:hover {
    color: blue;
}


/* Right Actions: Signup, Login, Cart */
.nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-actions .btn {
    text-decoration: none;
    background-color: blue;
    color: #fff;
    padding: 0.4rem 0.9rem;
    border-radius: 4px;
    font-size: 0.9rem;
    text-transform: capitalize;
    /* Added */
    font-family: 'Poppins', sans-serif;
    /* Matching font */
}

.nav-actions .btn:hover {
    background-color: rgb(178, 122, 231);
    color: #fff;
}

.nav-actions .cart-icon {
    color: #1f1f1f;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-left: 5px;
    padding-right: 5px;
    /* Thoda kam kiya */
    font-size: 1.2rem;
}

.nav-actions .cart-icon:hover {
    color: #ff2020;
}