.service-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 70px 80px;
  background: #f4f4f4;
  animation: fadeUp 0.8s ease;
}

.service-box {
  display: flex;
  align-items: center;
  gap: 18px;
  background: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  transition: 0.3s ease;
  border: 1px solid #eee;
}

.service-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
}

.service-icon {
  font-size: 45px;
  color: rgba(0, 0, 0, 0.25);
}



.service-box h5 {
 font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
  display: block;
  text-transform: capitalize;
  color: #2B2B2B;
  font-family: "Poppins",sans-serif;
}

.service-box p {
  font-size: 15px;
  color: #777;
}

/* Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}